menu "Embr Services Test: ESP-NOW"

    config ESPNOW_LMK
        string "Local master key"
        help
            Length must be 16 bytes exactly

    config ESPNOW_PMK
        string "Primary master key"
        help
            Length must be 16 bytes exactly

endmenu