# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# CLion is losing its mind here.  Trying to be more explicit, helps a bit

Language: Cpp
BasedOnStyle: GNU
BreakBeforeBraces: Allman

ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign

NamespaceIndentation: None
TabWidth: 4
IndentCaseBlocks: false
IndentCaseLabels: true
IndentWidth: 4

BraceWrapping:
    AfterCaseLabel: true
    AfterControlStatement: Always
    IndentBraces: false

SpaceBeforeParens: Custom

SpaceBeforeParensOptions:
    AfterFunctionDefinitionName: false
    AfterFunctionDeclarationName: false
    AfterIfMacros: false
    AfterControlStatements: false

AllowShortLambdasOnASingleLine: Empty
