# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
# CLion is losing its mind here.  Trying to be more explicit, doesn't seem to help

Language: Cpp
BasedOnStyle: GNU
NamespaceIndentation: None
TabWidth: 4
IndentCaseLabels: true
IndentWidth: 4
BraceWrapping:
    AfterCaseLabel: true
    AfterControlStatement: true
    IndentBraces: false
