# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion specific
cmake-build-debug/
**/.idea/workspace.xml
**/.idea/vcs.xml
**/.idea/deployment.xml

# Qt specific
build/
test/build-catch-*
*.user

# Visual Studio specific
.vs/
*.userprefs
bin/
obj/
test/**/packages/

# macOS misc
.DS_Store

# Visual Studio Code specific
#  settings in theory is nice, but it just gets polluted with stupid cpp auto-built refs
.vscode/settings.json
