menu "Embr Scheduler Test"

    menu "LEDs"
        config FAST_LED_PIN
            int "Pin on which to blink quickly but intermittently"
            default 4

        config SLOW_LED_PIN
            int "Pin on which to blink slowly and steadily"
            default 2
    endmenu

    menu "FreeRTOS"
        config EMBR_SCHEDULER_TASKSIZE
            int "Size of stack on which EMBR scheduler daemon runs"
            default 4096

        config EMBR_SCHEDULER_PRIORITY
            int "Priority of EMBR scheduler daemon task"
            default 4
            help
                It is recommended to set this to a relatively high value.
                Scheduler operations are expected to behave similar to an ISR, to come
                and go as quickly as possible leaving heavy processing for other tasks
    endmenu

endmenu
