menu "Embr Helper config"

    menu "Network"
        config WIFI_SSID
            string "WiFi SSID Name"

        config WIFI_PASSWORD
            string "WiFi Password"
    endmenu

    # Not an esp-idf convention per se, I am putting my own commonly used settings here
    choice
        prompt "Select Development Board"

        config BOARD_ESP32_UNSPECIFIED
            bool "Unspecified Target"

        config BOARD_ESP32_WEMOS_MINI32
            bool "Wemos Mini32 D1 (ESP32)"
            depends on IDF_TARGET_ESP32

        config BOARD_ESP32C3_SEEED_XIAO
            bool "Seeed Studio Xiao ESP32C3"
            depends on IDF_TARGET_ESP32C3

        config BOARD_ESP32C3_DEVKITM_1
            bool "Espressif ESP32C3 DevKitM-1"
            depends on IDF_TARGET_ESP32C3

        config BOARD_ESP32_ESP_WROVER_KIT_41
            bool "Espressif ESP32 Wrover Kit 4.1"
            depends on IDF_TARGET_ESP32

        config BOARD_ESP32S3_UM_FEATHERS3
            bool "Unexpected Maker FeatherS3"
            depends on IDF_TARGET_ESP32S3

        config BOARD_ESP32S3_LILYGO_T_QT_PRO
            bool "LILYGO T-QT Pro"
            depends on IDF_TARGET_ESP32S3

    endchoice

    #menu "Peripherals"

        # DEBT: Probably we want this in Embr component proper, not helper
        # As per https://stackoverflow.com/questions/31325785/is-it-possible-to-convert-a-choice-to-an-int-in-kconfig
        
        choice
            prompt "TWAI"
            default TWAI_DISABLED
            help
                Used to assist in configuring embr::esp_idf::service::TWAI.
                Note that explicit start() call is still required

            config TWAI_DISABLED
                bool "Disabled"
            config TWAI_TIMING_25K
                bool "25Kbit"
            config TWAI_TIMING_125K
                bool "125Kbit"
            config TWAI_TIMING_250K
                bool "250Kbit"
            config TWAI_TIMING_500K
                bool "500Kbit"
            config TWAI_TIMING_1M
                bool "1Mbit"
        endchoice

        config TWAI_TIMING
            int
            default 0 if TWAI_DISABLED
            default 25 if TWAI_TIMING_25K
            default 125 if TWAI_TIMING_125K
            default 250 if TWAI_TIMING_250K
            default 500 if TWAI_TIMING_500K
            default 1000 if TWAI_TIMING_1M

        config GPIO_TWAI_TX
            int "TWAI TX pin"
            default 5
            depends on !TWAI_DISABLED

        config GPIO_TWAI_RX
            int "TWAI RX pin"
            default 4
            depends on !TWAI_DISABLED

        choice
            prompt "TWAI mode"
            depends on !TWAI_DISABLED

            default TWAI_MODE_NORMAL
            config TWAI_MODE_NORMAL
                bool "Normal"
            config TWAI_LISTEN_ONLY
                bool "Listen Only"
        endchoice

    #endmenu

endmenu
