menu "Embr config"

    menu "FreeRTOS + EMBR scheduler"
        config EMBR_FREERTOS_SCHEDULER_TASKSIZE
            int "Size of stack on which EMBR scheduler daemon runs"
            default 4096

        config EMBR_FREERTOS_SCHEDULER_PRIORITY
            int "Priority of EMBR scheduler daemon task"
            default 4
            help
                It is recommended to set this to a relatively high value.
                Scheduler operations are expected to behave similar to an ISR, to come
                and go as quickly as possible leaving heavy processing for other tasks
    endmenu

    menu "esp-idf"

        menu "High Resolution Timer Scheduler"

            config EMBR_ESP_IDF_TIMER_PROFILING
                bool "Timer Scheduler ISR profiler"
                default 0
                help
                    Turn on or off esp-idf Timer Scheduler ISR profiler, which collects
                    a few timestamps of the lifecycle of the ISR then renders them via ESP_DRAM_LOGI

        endmenu

        menu "Logging Groups"
        #menuconfig M
        #if M
            #help
            #    Value of 0 = disabled
            #    Value of 1 = normal logging
            #    Value of 2 = ISR logging 
            # Cannot get help text to work for the life of me here
                    
            config EMBR_LOG_GROUP_0
                int "Log Group 0"
                range 0 2
                default 0

            config EMBR_LOG_GROUP_1
                int "Log Group 1"
                range 0 2
                default 0

            config EMBR_LOG_GROUP_2
                int "Log Group 2"
                range 0 2
                default 0
                    
            config EMBR_LOG_GROUP_3
                int "Log Group 3"
                range 0 2
                default 0

            config EMBR_LOG_GROUP_4
                int "Log Group 4"
                range 0 2
                default 0

            help
                hello
        #endif
        endmenu

    endmenu

    # Thank you https://esp32.com/viewtopic.php?t=17736 for 'rsource' knowledge
    
    # Not an esp-idf convention per se, I am putting my own commonly used settings here
    choice
        prompt "Select Development Board"

        config BOARD_ESP32_UNSPECIFIED
            bool "Unspecified Target"

        rsource "Kconfigs/targets"
    endchoice

    rsource "Kconfigs/twai"
    rsource "Kconfigs/dsp"

    #choice
    #    prompt "Expansion / Carrier"
    #endchoice

    config FORM_FACTOR_XIAO
        int
        default 1 if BOARD_ESP32S3_SEEED_XIAO || BOARD_ESP32C3_SEEED_XIAO || BOARD_ESP32C6_SEEED_XIAO
        default 1 if BOARD_ESP32S3_LILYGO_T_QT_PRO
        default 0

    config FORM_FACTOR_FEATHER
        int
        default 1 if BOARD_ESP32S3_UM_FEATHERS3
        default 1 if BOARD_ESP32S3_ADAFRUIT_FEATHER_REVTFT
        default 1 if BOARD_ESP32C6_SPARKFUN_THINGPLUS
        default 0

endmenu