# Malachi clang-tidy convention: catch v0.1.0
# Hosted at https://gitlab.com/malachi-linux/useful-scripts.git
# NOTE: folded block scalar gives me a ton of grief, so not using that form
Checks:
  # Catch2 does fancy loop tricks that trigger this warning
  - '-altera-id-dependent-backward-branch'
  # Catch2 macros trigger this
  - '-readability-function-cognitive-complexity'
  # Unit Testing has unusual data hiding behavior
  - '-misc-non-private-member-variables-in-classes'
  - '-readability-redundant-access-specifiers'
  # Cross c++ version testing makes room for static_assert(bool, "")
  - '-*-unary-static-assert'