menu "Embr Button Test"

    choice
        prompt "Test mode"

        config POLLED_MODE
            bool "polled"

        config ISR_MODE
            bool "isr"

    endchoice
            
            

    menu "GPIO"

        config BUTTON_PIN
            int "Pin on which debounced button is tested"
            default 0

    endmenu

endmenu
